$primary-color-text-fon: rgba(117, 117, 117, 1);
  $color-text: rgba(33, 33, 33, 1);
  $color-minitext-fon: rgba(255, 255, 255, 1);
  $color-button-text: rgba(33, 150, 243, 1);
  $hero-fon: rgba(47, 48, 58, 1);
  $fon-comand: rgba(245, 244, 250, 1);
  $footer-text: rgba(255, 255, 255, 0.6);
  $border-cards: rgba(238, 238, 238, 1);
  $act-button: rgba(24, 140, 232, 1);
  $header-bord: rgba(236, 236, 236, 1);
  $border-logo: rgba(175, 177, 184, 1);
  $overlay-background: rgba(0, 0, 0, 0.2);
  $modal-fich: rgb(255, 255, 255);
  $bg-cards: rgba(47, 48, 58, 0.8);
  $modal-border: rgba(33, 243, 178, 1);