header {
  background-color:$color-minitext-fon;
  border-bottom:$header-bord;
}
.container__header {
    display: flex;
    align-items: center;
  }
  
  .logo {
    display: flex;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
    color: black;
    text-decoration: none;
  }
  
  .logo__web {
    color:$color-button-text;
  
    /*навігація*/
  }
  .nav {
    justify-content: center;
    display: flex;
  }
  .header__nav {
    margin-right: 50px;
    &:last-child {
      margin: right 0;
  }
  }
  .header-current__link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:$color-button-text;
    text-decoration: none;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover, &:focus{
    color:$color-button-text;
  }
  &::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color:$color-button-text;
    border-radius: 2px;
  }
  }
 
  .header__link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      .header__list &:hover,
      .header__list &:focus {
        color:$color-button-text;
    }
}
  .header__list {
    display: flex;
    flex-direction: row;
  }
 
  .header__list .header__link {
    text-decoration: none;
  }
  .header__list .header__link {
    color: #212121;
  }
  
  /*контакти*/
  .contact-list {
    margin-left: auto;
    display: flex;
    flex-direction: row;
  }
  .header-contact__item {
    margin-right: 50px;
    &:last-child{
      margin-right: 0;
    }
  }

  .header-contact__icon {
    fill:$primary-color-text-fon;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
 
  .header-contact__link {
    display: flex;
    align-items: center;
    font-family: "Roboto";
    font-style: normal;
    color:$primary-color-text-fon;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus{
      color: #2196f3;
    }
    &:hover .header-contact__icon,
    &:focus .header-contact__icon {
      fill:$color-button-text;
    }
  }