.works{
    display: none;
    padding-top: 0;
    @media screen and (min-width:1200px) {
        display: block;
    }
}
.works__header{
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: $color-text;
}
.work__cards{
    display: flex;
    gap: 30px;
}
.work__card{
    display: flex;
}
.work__table{
    position: relative;
}
.work__txt{
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-minitext-fon;
    background: $bg-cards;
}