body {
    background-color:$color-minitext-fon;
    font-family: "Roboto", sans-serif;
  }
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  ul {
    list-style: none;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  img {
    display: block;
  }
  
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }